body{
    background-color: aliceblue;
}


.custom--logo{
    width: 30px !important; 
    height: auto !important;    
}

nav{
    background-color: tr;
}

.rounded-top-left {
    border-top-right-radius: 0.25rem;
}
.rounded-bottom-right {
    border-bottom-right-radius: 0.25rem;
}

.review-form{
    height: 100px;
}